version: "3.7"

services:
  hadoop-master:
    container_name: hadoop-master
    image: jk9527/hadoop:2.10.1
    environment:
      IMAGE_ROLE: master
      SLAVES: "hadoop-slave1 hadoop-slave2 hadoop-slave3"
    ports: 
      - 50010:50010
      - 9000:9000
      - 8088:8088
      - 50070:50070
    volumes:
      - ../hdfs_data/namenode:/root/hdfs/namenode
    networks:
      - hadoop
    depends_on:
      - hadoop-slave1
      - hadoop-slave2
      - hadoop-slave3

  hadoop-slave1:
    container_name: hadoop-slave1
    image: jk9527/hadoop:2.10.1
    volumes:
      - ../hdfs_data/datanode/slave1:/root/hdfs/datanode
    networks:
      - hadoop

  hadoop-slave2:
    container_name: hadoop-slave2
    image: jk9527/hadoop:2.10.1
    volumes:
      - ../hdfs_data/datanode/slave2:/root/hdfs/datanode
    networks:
      - hadoop

  hadoop-slave3:
    container_name: hadoop-slave3
    image: jk9527/hadoop:2.10.1
    volumes:
      - ../hdfs_data/datanode/slave3:/root/hdfs/datanode
    networks:
      - hadoop

networks:
  hadoop:
