version: "3.7"

services:
  nginx_proxy:
    hostname: nginx_proxy
    container_name: nginx_proxy
    image: nginx:1.18.0
    ports:
      - 50070:50070
      - 2181:2181
      - 8088:8088
      - 9000:9000
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../hdfs_data/log:/root/logs
    networks:
      - hadoop

  hadoopMaster:
    hostname: hadoopMaster
    container_name: hadoopMaster
    image: jk9527/hadoop:2.10.1
    environment:
      IMAGE_ROLE: master
      SLAVES: "hadoopSlave1 hadoopSlave2 hadoopSlave3"
    ports:
      - 50071:50070
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hadoop_master_upload:/root/upload
      - ../hdfs_data/master:/root/hdfs
    networks:
      - hadoop
    depends_on:
      - hadoopSlave1
      - hadoopSlave2
      - hadoopSlave3

  hadoopSlave1:
    hostname: hadoopSlave1
    container_name: hadoopSlave1
    image: jk9527/hadoop:2.10.1
    environment:
      ZOO_MY_ID: 1
    ports:
      - 8089:8088
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/slave1:/root/hdfs
      - ../zk_data/slave1:/root/zk_data
      - ./conf/zk/zoo.cfg:/opt/zookeeper/conf/zoo.cfg
    networks:
      - hadoop

  hadoopSlave2:
    hostname: hadoopSlave2
    container_name: hadoopSlave2
    image: jk9527/hadoop:2.10.1
    environment:
      ZOO_MY_ID: 2
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/slave2:/root/hdfs
      - ../zk_data/slave2:/root/zk_data
      - ./conf/zk/zoo.cfg:/opt/zookeeper/conf/zoo.cfg
    networks:
      - hadoop

  hadoopSlave3:
    hostname: hadoopSlave3
    container_name: hadoopSlave3
    image: jk9527/hadoop:2.10.1
    environment:
      ZOO_MY_ID: 3
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/slave3:/root/hdfs
      - ../zk_data/slave3:/root/zk_data
      - ./conf/zk/zoo.cfg:/opt/zookeeper/conf/zoo.cfg
    networks:
      - hadoop

networks:
  hadoop:
