version: "3.7"

services:
  hadoop-master:
    container_name: hadoop-master
    image: jk9527/hadoop:2.10.1
    environment:
      IMAGE_ROLE: master
      SLAVES: "hadoop-slave1 hadoop-slave2 hadoop-slave3"
    ports: 
      - 50010:50010
      - 9000:9000
      - 50070:50070
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/master:/root/hdfs
    networks:
      - hadoop
    depends_on:
      - hadoop-slave1
      - hadoop-slave2
      - hadoop-slave3

  hadoop-slave1:
    hostname: hadoop-slave1
    container_name: hadoop-slave1
    image: jk9527/hadoop:2.10.1
    ports: 
      - 2181:2181
      - 8088:8088
    environment:
      ZOO_MY_ID: 1
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/slave1:/root/hdfs
      - ../zk_data/slave1:/root/zk_data
      - ./conf/zk/zoo.cfg:/opt/zookeeper/conf/zoo.cfg
    networks:
      - hadoop

  hadoop-slave2:
    hostname: hadoop-slave2
    container_name: hadoop-slave2
    image: jk9527/hadoop:2.10.1
    ports: 
      - 2182:2181
      - 8089:8088
    environment:
      ZOO_MY_ID: 2
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/slave2:/root/hdfs
      - ../zk_data/slave2:/root/zk_data
      - ./conf/zk/zoo.cfg:/opt/zookeeper/conf/zoo.cfg
    networks:
      - hadoop

  hadoop-slave3:
    hostname: hadoop-slave3
    container_name: hadoop-slave3
    image: jk9527/hadoop:2.10.1
    ports: 
      - 2183:2181
      - 9001:9000
      - 50071:50070
    environment:
      ZOO_MY_ID: 3
    volumes:
      - ./conf/hadoop:/opt/hadoop/etc/hadoop
      - ../hdfs_data/slave3:/root/hdfs
      - ../zk_data/slave3:/root/zk_data
      - ./conf/zk/zoo.cfg:/opt/zookeeper/conf/zoo.cfg
    networks:
      - hadoop

networks:
  hadoop:
